body {
    background: #232323;
    
}

.bold {
    font-weight: 500;
    font-size: 2em;
}
.jumbotron {
    margin: 0;
    text-align: center;
    background-color: steelblue;
    color: white;
    font-family: "Avenir";
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50% 20% / 10% 40%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}
span{
    color: white;
}

#stripe{
    background: black;
    height: 30px;
    text-align: center;
    margin: 0;
    font-family: "Avenir";
}
.selected{
    background: steelblue;
}

h1{
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
}

button{
    border: none;
    height: 100%;
    background: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

button:hover{
    
    background: steelblue;
}

#message{
    display: inline-block;
    width: 20%;
}

#reset{
    text-transform: uppercase;
}
#easy{
    text-transform: uppercase;
}
#hard{
    text-transform: uppercase;
}



